.eventContainer {
    border-top: 2px dotted black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px dotted black;
    justify-content: center;
    /* margin-right: 1rem;
    margin-bottom: 1rem; */
    margin: 0.5rem;
    /* padding: 0.5rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    /* background-color: rgba(245, 245, 245, 0.8); */
    /* width: 250px; */
}

.dateAndLocationContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 2px solid #FA8072;
    /* margin: 1rem; */
    padding: 1rem;
    text-align: center;
    background-color: #003366;
    color: white;
}

.teamAndScoreContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin: 1rem; */
    padding: 1rem;
    /* width: 229px; */
    /* height: 190px; */
}

.seatLocationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin: 1rem; */
    padding: 1rem;
    justify-content: space-between;
    border-top: 1px dotted black;
    background-color: rgba(122, 122, 122, 0.3);
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* margin: 1rem; */
    padding: 1rem;
    background-color: rgba(122, 122, 122, 0.3);
}

#eventListDetailsButton:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #003366;
}

#eventListDeleteButton:hover {
    background-color: #FA8072
        /* background-color: #003366; */
}


.seatInfoContainer {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seatInfoLabel {
    text-align: center;
    border-bottom: 1px black solid;
}

.seatInfoLocation {
    text-align: center;
}

.teamContainer {
    text-align: center;
}

.teamScore {
    border: 1px black solid;
    padding: 0.25rem;
    font-size: larger;
    height: 40.8px;
}

.winningTeamScore {
    border: 2px black solid;
    padding: 0.25rem;
    font-size: larger;
    font-weight: 600;
}

.winningTeamAbbreviation {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
}

.finalAndOvertimeContainer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.eventListHeader {
    padding-left: 1rem;
}

.teamLogo {
    width: 3.5rem;
    height: 3.5rem;
}

.teamLogoContainer {
    padding-top: 0.25rem;
}

.teamLabel {
    border-bottom: 1px black solid;
}

.teamAbbreviation {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.homeWinFinal {
    padding-top: 3.25rem;
    padding-right: 1rem;
}

.awayWinFinal {
    padding-top: 3.25rem;
    padding-left: 1rem;
}

.tieFinal {
    padding: 3.25rem 1.12rem 0rem 1.12rem;
}

.finalArrow {
    width: 1.25rem;
}

#eventModalDeleteButton {
    background-color: #FA8072;
    border-color: black;
}

#eventModalDeleteButton:hover {
    background-color: #e17367;
    /* transition: 0.7s; */
}

#eventModalCancelButton {
    background-color: rgba(122, 122, 122, 0.7);
    border-color: black;
}

#eventModalCancelButton:hover {
    background-color: rgba(122, 122, 122, 0.9);
}

/* .deleteModal {
    modalTransition={{ timeout: 700 }} backdropTransition={{ timeout: 1300 }}
    transition: 700;
} */

/* AttendedEventList */

.eventListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.noEventContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noEventMessage {
    font-size: larger;
    padding-bottom: 0.5rem;
}

#noEventAddButton {
    width: 7rem;
    background-color: #FA8072;
    border-color: #FA8072;
}

#noEventAddButton:hover {
    background-color: #e17367;
    /* transition: 0.7s; */
}