.articleContainer {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
}

/* .detailViewContainer {
    width: 900px;
} */

.gameDetailsContainer {
    display: flex;
    flex-direction: row;
}

.gameInfoAndNotesContainer {
    padding-left: 1.5rem;
    max-width: 777px;
}

.detailsTeamLogo {
    width: 5rem;
}

.detailsTeamLogoContainer {
    display: flex;
    justify-content: center;
}

.detailsTeamContainer {
    display: flex;
    flex-direction: row;
}

.detailsTeamNameAndLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top: black solid 1px; */
    border-bottom: black solid 1px;
    /* background-color: rgba(245, 245, 245, 0.9); */
}

.headerAndButtonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0rem 1rem;
    border-bottom: 1px black solid;
}

.buttonsDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.stadiumAndTicketInfoContainer {
    padding: 1rem;
    border: black solid 1px;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.9);
    margin-top: 0.5rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .stadiumAndTicketInfoContainer {
    padding: 1rem;
    border-right: black solid 1px;
} */

.detailsTeamScore {
    padding: 1.5rem 2rem;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsHomeOrAwayContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.detailsHomeOrAwayLabel {
    text-align: center;
    font-size: medium;
    border-bottom: 1px solid black;
    padding: 0.25rem 0.5rem 0rem 0.5rem;
}

.deatilsTeamName {
    padding: 0rem 1rem 1rem 1rem;
    font-size: 20px;
    text-align: center;
}

.detailsWinningTeamScore {
    padding: 1.5rem 2rem;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

.deatilsWinningTeamName {
    padding: 0rem 1rem 1rem 1rem;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.deatilsFinalArrow {
    width: 2rem;
}

.finalContainer {
    padding: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awayWinFinalContainer {
    padding: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeWinFinalContainer {
    padding: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tieFinalContainer {
    padding: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notesContainer {
    padding: 1rem;
}

.buttonsDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detailsEditButton {
    margin: 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsDeleteButton {
    /* margin: 0rem 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#detailsDeleteButton {
    width: 7rem;
    background-color: #FA8072;
    border-color: black;
}

#detailsDeleteButton:hover {
    background-color: #e17367;
    transition: 0.7s;
}

#detailsEditButton {
    width: 7rem;
}

#detailsEditButton:hover {
    background-color: #003366;
    /* transition: 0.7s; */
}

#detailsModalDeleteButton {
    background-color: #FA8072;
    border-color: black;
}

#detailsModalDeleteButton:hover {
    background-color: #e17367;
    /* transition: 0.7s; */
}

#detailsModalCancelButton {
    background-color: rgba(122, 122, 122, 0.7);
    border-color: black;
}

#detailsModalCancelButton:hover {
    background-color: rgba(122, 122, 122, 0.9);
}